<center><h1> CPE 4040 Spring 2024: Homework 2 Solution</h1></center>

### Q1: Mary Had a Little Lamb (15 Points)

In [63]:
title = 'mary HAD a little lamb'

lyrics = '''
Mary had a little limb,
Little limb, little limb.
Mary had a little limb
Its fleece was white as snow.

And everywhere that Mary went,
Mary went, Mary went,
Everywhere that Mary went
The limb was sure to go.

It followed her to school one day,
School one day, school one day.
It followed her to school one day
Which was against the rules.

It made the children laugh and play,
Laugh and play, laugh and play.
It made the children laugh and play,
To see a limb at school.
'''

### Q1.1 The song title is not properly capitalized. Use string method to correct it to "Mary Had a Little Lamb".

In [94]:
# The correct title should be "Mary Had A Little Lamb"

title.title().replace('A', 'a')

'Mary Had a Little Lamb'

### Q1.2 The word "lamb" is misspelled in several places. Please find them and correct the spelling.

In [65]:
# Obviously, lamb was misspelled as "limb" in several place

print ("How many times were \"lamb\" spelled wrong?", lyrics.count('limb'))

How many times were "lamb" spelled wrong? 6

In [66]:
print (lyrics.replace('limb', 'lamb'))

Mary had a little lamb,
Little lamb, little lamb.
Mary had a little lamb
Its fleece was white as snow.

And everywhere that Mary went,
Mary went, Mary went,
Everywhere that Mary went
The lamb was sure to go.

It followed her to school one day,
School one day, school one day.
It followed her to school one day
Which was against the rules.

It made the children laugh and play,
Laugh and play, laugh and play.
It made the children laugh and play,
To see a lamb at school.

### Q1.3 How many words are in this song, not including commas, periods, spaces and new lines?

Note: Use string method split( ) first.

In [67]:
# If we do lyrics.split() and count the words that way, what is the result?

print (lyrics.split())

['Mary', 'had', 'a', 'little', 'limb,', 'Little', 'limb,', 'little', 'limb.', 'Mary', 'had', 'a', 'little', 'limb', 'Its', 'fleece', 'was', 'white', 'as', 'snow.', 'And', 'everywhere', 'that', 'Mary', 'went,', 'Mary', 'went,', 'Mary', 'went,', 'Everywhere', 'that', 'Mary', 'went', 'The', 'limb', 'was', 'sure', 'to', 'go.', 'It', 'followed', 'her', 'to', 'school', 'one', 'day,', 'School', 'one', 'day,', 'school', 'one', 'day.', 'It', 'followed', 'her', 'to', 'school', 'one', 'day', 'Which', 'was', 'against', 'the', 'rules.', 'It', 'made', 'the', 'children', 'laugh', 'and', 'play,', 'Laugh', 'and', 'play,', 'laugh', 'and', 'play.', 'It', 'made', 'the', 'children', 'laugh', 'and', 'play,', 'To', 'see', 'a', 'limb', 'at', 'school.']

In [68]:
# As you can see, the spaces & new lines are gone, and the commas & periods are combined with
# words that preceeded them. Haha, by pure luck, we got the answer!

print ("Total number of words =", len(lyrics.split()))

Total number of words = 90

### Q2: Palindrome or Symmetrical String (20 Points)

Write a Python program to check whether an input string is palindrome or symmetrical.
    
    A sequence is said to be palindrome if one half of the string is the reverse of the other half, e.g., "madam".
    A sequence is said to be symmetrical if both halves of the string are the same, e.g., "abcabc"
    
    **Note: if there are odd number of letters in a string, the middle one is ignored.
    **Note: the string is case insensitive
    
**Hint:** use the string slice( ) method to divide the string into 2 halves.

To show your work, use those input strings: "level", "Cosco", "aaaAAaaa".

In [69]:
# First, divide the string into two halves.
# If there are odd number of letters, the midpoint is ignored.

def is_palin_symm(s):
    string = s.lower()       # the string is case insensitive
    half = int(len(string)/2)
 
    if len(string) % 2 == 0:  # even
        first_half = string[:half]
        second_half = string[half:]
    else:  # odd
        first_half = string[:half]
        second_half = string[half+1:]
# symmetric
    if first_half == second_half:
        print(s, 'is symmertical')
    else:
        print(s, 'is not symmertical') 
# palindrome
    if first_half == second_half[::-1]: 
        print(s, 'is palindrome')
    else:
        print(s, 'is not palindrome')

In [70]:
is_palin_symm('Cosco')
is_palin_symm('level')
is_palin_symm('aaaAAaaa')

Cosco is symmertical
Cosco is not palindrome
level is not symmertical
level is palindrome
aaaAAaaa is symmertical
aaaAAaaa is palindrome

### Short and sweet version

In [71]:
def func(s):
    if s[:int(len(s)/2)].lower() == s[len(s) - int(len(s)/2):].lower(): # the "len(s) - int(len(s)/2)" part automaticly ignores the middle one.
        print(s, " is symmetrical")
    if s.lower() == s[::-1].lower():
        print(s, " is palindrome")


for s in {'level','Cosco','aaaAAaaa'}:
    func(s)

aaaAAaaa  is symmetrical
aaaAAaaa  is palindrome
level  is palindrome
Cosco  is symmetrical

### Q3: List Comprehension - Exploring State Names (30 Points)

Given the a list of 50 state names, please use list comprehension to answer the following questions.

In [72]:
#--------------------------------------------------------------
# 50 state names as a list
#--------------------------------------------------------------
states = ['Alabama','Alaska','Arizona','Arkansas','California','Colorado',
          'Connecticut','Delaware','Florida','Georgia','Hawaii','Idaho',
          'Illinois','Indiana','Iowa','Kansas','Kentucky','Louisiana',
          'Maine','Maryland','Massachusetts','Michigan','Minnesota',
          'Mississippi','Missouri','Montana','Nebraska','Nevada',
          'New Hampshire','New Jersey','New Mexico','New York',
          'North Carolina','North Dakota','Ohio','Oklahoma','Oregon',
          'Pennsylvania','Rhode Island','South Carolina','South Dakota',
          'Tennessee','Texas','Utah','Vermont','Virginia','Washington',
          'West Virginia','Wisconsin','Wyoming']

### Q3.1 What are the top 3 states with the longest one-word name?  

Hint: Remember do not consider states such New York, North Carolina etc. which have two words.

In [73]:
# Remove the two-word states out of the list

state_1 = [s for s in states if ' ' not in s]
print (state_1)

['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'Wisconsin', 'Wyoming']

In [74]:
# Find out the length of each state for the new list
state_len = [(len(s), s) for s in state_1]
print (state_len)

[(7, 'Alabama'), (6, 'Alaska'), (7, 'Arizona'), (8, 'Arkansas'), (10, 'California'), (8, 'Colorado'), (11, 'Connecticut'), (8, 'Delaware'), (7, 'Florida'), (7, 'Georgia'), (6, 'Hawaii'), (5, 'Idaho'), (8, 'Illinois'), (7, 'Indiana'), (4, 'Iowa'), (6, 'Kansas'), (8, 'Kentucky'), (9, 'Louisiana'), (5, 'Maine'), (8, 'Maryland'), (13, 'Massachusetts'), (8, 'Michigan'), (9, 'Minnesota'), (11, 'Mississippi'), (8, 'Missouri'), (7, 'Montana'), (8, 'Nebraska'), (6, 'Nevada'), (4, 'Ohio'), (8, 'Oklahoma'), (6, 'Oregon'), (12, 'Pennsylvania'), (9, 'Tennessee'), (5, 'Texas'), (4, 'Utah'), (7, 'Vermont'), (8, 'Virginia'), (10, 'Washington'), (9, 'Wisconsin'), (7, 'Wyoming')]

In [75]:
# Use sorted() function to find the top three 

sorted((state_len), reverse= True)

[(13, 'Massachusetts'),
 (12, 'Pennsylvania'),
 (11, 'Mississippi'),
 (11, 'Connecticut'),
 (10, 'Washington'),
 (10, 'California'),
 (9, 'Wisconsin'),
 (9, 'Tennessee'),
 (9, 'Minnesota'),
 (9, 'Louisiana'),
 (8, 'Virginia'),
 (8, 'Oklahoma'),
 (8, 'Nebraska'),
 (8, 'Missouri'),
 (8, 'Michigan'),
 (8, 'Maryland'),
 (8, 'Kentucky'),
 (8, 'Illinois'),
 (8, 'Delaware'),
 (8, 'Colorado'),
 (8, 'Arkansas'),
 (7, 'Wyoming'),
 (7, 'Vermont'),
 (7, 'Montana'),
 (7, 'Indiana'),
 (7, 'Georgia'),
 (7, 'Florida'),
 (7, 'Arizona'),
 (7, 'Alabama'),
 (6, 'Oregon'),
 (6, 'Nevada'),
 (6, 'Kansas'),
 (6, 'Hawaii'),
 (6, 'Alaska'),
 (5, 'Texas'),
 (5, 'Maine'),
 (5, 'Idaho'),
 (4, 'Utah'),
 (4, 'Ohio'),
 (4, 'Iowa')]

In [76]:
sorted((state_len), reverse= True)[:3]

[(13, 'Massachusetts'), (12, 'Pennsylvania'), (11, 'Mississippi')]

In [77]:
# You can combined all the codes to one line

sorted([(len(s), s) for s in states if ' ' not in s], reverse=True)[:3]

[(13, 'Massachusetts'), (12, 'Pennsylvania'), (11, 'Mississippi')]

### Q3.2 Which states start and end with the same letter, for example, Alaska starts and ends with 'a'?

In [78]:
# the for loop verion
new_list = []
for x in states:
    if x[0].lower() == x[-1]:     # make sure the first letter is in lower-case
        new_list.append(x)

# List comprehension         

new_list = [x for x in states if x[0].lower() == x[-1]]

print (new_list)

['Alabama', 'Alaska', 'Arizona', 'Ohio']

### Q3.3 Which alphabetic letter is not present in any of the state names? Yep, there's only one.

In [79]:
# This one is a bit tricky using list comprehension.

alphabet = 'abcdefghijklmnopqrstuwvyxz'

for x in alphabet:
    # for each letter, find the list of states that contain it
    s_list = [s for s in states if x in s.lower()]
    # if the s_list is empty, then bingo!
    if len(s_list) == 0:
        print ('The letter', x, 'is not in any state name!')

The letter q is not in any state name!

In [80]:
# A clever solution

import string

all_letters = set(''.join(states).lower())  # collect all alphabet letters in a set
letters = set(string.ascii_lowercase) - all_letters  # find the missing one

print("Alphabetic letters not present in state names:", sorted(letters))

Alphabetic letters not present in state names: ['q']

### Q3.4 Which state names have no character repetition? For example, Florida has 7 distinct letters and no repetition.

In [81]:
# You will count the number of letters and the number of distinct letters in a state name.
# If those two numbers are the same, then that's what you want.
# The data type "set" is ideal for this purpose

print (len('Alabama'), len(set('Alabama')) )
print (len('Florida'), len(set('Florida')) )

7 5
7 7

In [82]:
[s for s in states if len(s.lower()) == len(set(s.lower()))]

['Florida',
 'Idaho',
 'Iowa',
 'Maine',
 'New York',
 'Texas',
 'Utah',
 'Vermont',
 'Wyoming']

### Q3.5: Which state names do not have the letter 'a' at all?

In [83]:
new_list = [x for x in states if 'a' not in x.lower()]

print (new_list)

['Connecticut', 'Illinois', 'Kentucky', 'Mississippi', 'Missouri', 'New Jersey', 'New Mexico', 'New York', 'Ohio', 'Oregon', 'Tennessee', 'Vermont', 'Wisconsin', 'Wyoming']

<h3> Q4: List Operations (20 points) </h3>

You will first generate a list of 10 random integers from 1 to 1000 by using the Python random module. Save the list (let's call it A) and write a short snippet for each of the following task:

1. Pick and sort first the odd numbers then the even numbers in ascending order and print the final list, e.g. [1 3 51 4 16 32]
2. Extract only the items that are less than 250.
3. Create a new list where each item y is the square of the correpsonding item in A.
4. Extract the items that are NOT divisible by 3 and NOT divisible by 7

In [84]:
import random

# Note: you can use random.randint() to generate the random integers

In [85]:
#Q4_1
A = []
random.seed(1)     # optional: fix the random seed so the results are repeatable

# create a list of 10 random rumbers from 1 to 1000
for i in range(10):
    A.append(random.randint(1,1000))
    
print ('The random numbers =', A)

# Sort the odd numbers using list comprehension
A_1 = [x for x in A if x%2]
A_1.sort()

# Sort the even numbers
A_2 = [x for x in A if not x%2]
A_2.sort()

# Add A_1 and A_2
AA = A_1 + A_2

print("The reordered list is :", AA)

The random numbers = [138, 583, 868, 822, 783, 65, 262, 121, 508, 780]
The reordered list is : [65, 121, 583, 783, 138, 262, 508, 780, 822, 868]

In [86]:
#Q4_2
# Many ways to do this. Here are two examples.

a = list(filter(lambda x: x < 250, AA))
a = [x for x in AA if x < 250]

print ('The items < 250 =', a)

The items < 250 = [65, 121, 138]

In [87]:
#Q4_3

# Again, here are two examples.

b = list(map(lambda x: x*x, AA))
b = [x**2 for x in AA]

print ('Squaring each item =', b)

Squaring each item = [4225, 14641, 339889, 613089, 19044, 68644, 258064, 608400, 675684, 753424]

In [88]:
#Q4_4

c = [x for x in AA if x%3 and x%7]

print ('Numbers not divisible by 3 and 7 =', c)

Numbers not divisible by 3 and 7 = [65, 121, 583, 262, 508]

### Q5: Order of Planets (15 Points)

In the solar system, the planets, in order of their distances from the Sun (closest to farthest), are Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus, and Neptune. Given an incomplete and out-of-order list, please use list methods to make it right.

In [89]:
planets = ['venus', 'mercury', 'mars', 'jupiter', 'earth']

### Define the correct list of planet order

In [90]:
new_planets = ['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune']

In [91]:
## Add items that are not in new_planets to the list

## Find the difference between the lists then append the difference

diff = list(set(new_planets) - set(planets))

for x in diff:
    planets.append(x)

planets

['venus', 'mercury', 'mars', 'jupiter', 'earth', 'uranus', 'saturn', 'neptune']

In [92]:
## Sort the list according to the order of the new list
planets.sort(key=cor_planets.index)

planets

['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune']